
#gallery { position: relative; }
#pictures { position: relative; height: 408px; }
#pictures img { position: absolute; top: 0; left: 0; }

#prev, #next { margin-top: 5px; text-align: left; font-size: 1.0em; }
img.turn5right {
	transform: rotate(5deg);
	-ms-transform: rotate(5deg); /* IE 9 */
	-webkit-transform: rotate(5deg); /* Safari and Chrome */
	-o-transform: rotate(5deg); /* Opera */
	-moz-transform: rotate(5deg); /* Firefox */
}

img.turn5left {
	transform: rotate(355deg);
	-ms-transform: rotate(355deg); /* IE 9 */
	-webkit-transform: rotate(355deg); /* Safari and Chrome */
	-o-transform: rotate(355deg); /* Opera */
	-moz-transform: rotate(355deg); /* Firefox */
}
img.turn2left {
	transform: rotate(2deg);
	-ms-transform: rotate(2deg); /* IE 9 */
	-webkit-transform: rotate(2deg); /* Safari and Chrome */
	-o-transform: rotate(2deg); /* Opera */
	-moz-transform: rotate(2deg); /* Firefox */
}
img.turn2right{
	transform: rotate(358deg);
	-ms-transform: rotate(358deg); /* IE 9 */
	-webkit-transform: rotate(358deg); /* Safari and Chrome */
	-o-transform: rotate(358deg); /* Opera */
	-moz-transform: rotate(358deg); /* Firefox */
}
img.zindex_slider {
	border:15px groove antiquewhite;
}